[Desktop Entry]
Version=1.0
Type=Application

Name=Proton-Autogen
Name[fr]=Proton-Autogen

Comment=Manage and run Windows games with Proton and per-game optimization
Comment[fr]=Gérer et exécuter des jeux Windows avec Proton et des optimisations par jeu

Exec=proton-autogen --ux
Icon=io.github.N3oRay.ProtonAutogen

Terminal=false
StartupNotify=true

Categories=Game;Utility;
Keywords=Proton;Wine;Windows;Gaming;Launcher;
