pkgbase = proton-autogen
	pkgdesc = Automatic Proton/Wine launcher for Windows executables
	pkgver = 3.2.6
	pkgrel = 1
	url = https://github.com/N3oRay/proton-autogen
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-gobject
	depends = python-pyyaml
	depends = python-rich
	depends = gtk4
	depends = gdk-pixbuf2
	source = https://github.com/N3oRay/proton-autogen/archive/refs/tags/v3.2.6.tar.gz
	sha256sums = d54ed60f3db0e972ce3b841a69c9a6f9d667368eafe53d2f7b87bfbaf56d7a33

pkgname = proton-autogen
